* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(245, 246, 252);
}

:root {
  --themeColor: #36b3c9;
}

/* Left Side*/

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.left .logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.left {
  width: 40vw;
  background-image: url(https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
h1 {
  font-weight: 700;
}

.logo img {
  position: relative;
  height: 15vh;
  margin: -10px;
}
.logo {
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 0 0;
  justify-content: center;
  align-items: center;
}

/* Right Side */

.right {
  background-color: black;
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.headerText {
  padding-left: 3vw;
  padding-right: 5vw;
  font-size: 1.2em;
}

.p3 {
  margin: 40px 0 80px;
}

/* Form */
.formstuffs {
  display: flex;
  background-color: rgb(5, 5, 5);
  box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 3vw;
}
.forminputs {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 20px;
  padding-bottom: 20px;
}
.title {
  font-size: 1.2rem;
  width: 100%;
  padding: 20px 0 20px 0;
}

.input {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  opacity: 50%;
}

.input input {
  background-color: rgb(2, 2, 2);
  border-radius: 3px;
  border: 1px solid rgb(77, 77, 77);
}

button {
  background: rgb(0, 0, 0);
  border: 2px solid var(--themeColor);
  border-radius: 5px;
  margin-left: 3vw;
  margin-top: 4vh;
  color: var(--themeColor);
  font-size: 1.2rem;
  font-weight: 900;
  padding: 10px 40px;
}

button:hover {
  background-color: #36b3c9;
  color: rgb(0, 0, 0);
}

input:focus {
  outline: 0;
  border: 2px solid var(--themeColor);
}

.link {
  margin-left: 3vw;
  margin-top: 4vh;
  font-size: 0.9rem;
}

.link a {
  color: var(--themeColor);
  text-decoration: none;
  font-weight: 900;
}

.link a:hover {
  color: white;
}
